@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap%27');

body {
    background: rgb(76, 89, 124) !important;
    font-family: 'Quicksand', sans-serif !important;
}

.card-body {
    background: #0B96BC;
    border: 1px solid #09596f;
    border-radius: 5px;
}

.card-header {
    border: 1px solid #09596f;
    background-color: #0D6EFD !important;
}

h4 {
    color: white;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.navbar {
    background-color: #010101;
    opacity: 70%;

}